<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
	<!-- <link href="./css/mystyle.css" rel="stylesheet">  -->
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>  <!-- the main layout -->
<div class="container">

   <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="/"><img src="/images/pizzaLogo.jpg" height='25px'/></a>
      </div>
      <div>
         <ul class="nav navbar-nav">
           <li class="active"><a href="/">Welcome</a></li>
           <li><a href="/orders">Order Form</a></li>
         </ul>
      </div>
   </div>
   </nav>    <!-- end nav-bar -->

    {{{body}}}

  <div class="footer">
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Pi R square? Nope, pie are round and covered with cheese.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &copy; Pie Are Round Pizza, Inc.</p>
		
  </div>
</div>   <!-- end class='container'  -->
</body>
</html>