<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>{{page_title}}</title>
   <link href="./css/my-file.css" rel="stylesheet">

   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
   <!-- the main layout -->
   <header>
      <nav class="navbar navbar-inverse">
         <a class="navbar-brand" href="/"><img src="/images/sun-and-fun-logo.jpg" height='25px' /></a>
         <ul class="nav navbar-nav">
            <li class="active"><a href="/">Welcome</a></li>
            <li><a href="/flights">Pick a flight</a></li>
         </ul>
      </nav> <!-- end nav-bar -->
   </header>
   <main class="container">
      {{{body}}}
   </main> <!-- end class='container'  -->

   <footer class="footer">
      <p>&copy; Sun or Fun Airlines, Inc.</p>

   </footer>
</body>

</html>