
<h3>Pi Are Round, Pizza Order Form</h3>

<form method="post" action="handleform">
<p><input type="text" name="fullname" placeholder="Enter full name"> Enter full name </p>
<p><input type="text" name="address" placeholder="Enter your address" size='35'>Enter address <br></p>

<p>Pizza size and price. <br><br>
<select name = "size"> All pizzas include cheese
<option name = "8">8 inch, $8</option>
<option name = "12">12 inch, $12</option>
<option name = "16">16 inch, $16</option>
<option name = "20">20 inch, $20</option>
</select></p>

<p>Add toppings...<br>
<input type="checkbox" name="toppings" value="mushroom"> Mushroom, add $1.22 <br>
<input type="checkbox" name="toppings" value="sausage"> Sausage, add $1.22<br>
<input type="checkbox" name="toppings" value="pepperoni"> Pepperoni, add $1.22 </p>


<p><input type="radio" name="deliver" value="Pick Up" checked>In Store Pickup <br>
<input type="radio" name="deliver" value="Delivery">Delivery </p>

<p><button type="submit">Submit Form</button></p>
</form>