<h1>Daily flights</h1>
<p>All times are local</p>
<p>Airport codes: SDF is Louisville, MIA is Miami, LAS is Las Vegas</p>
<table class="table">
    <tr>
        <th>Flight number</th>
        <th>Depart</th>
        <th>Arrive</th>
    </tr>
    {{#each flights}}
    <tr>
        <td>{{flight}}</td>
        <td>{{origin}}</td>
        <td>{{destination}}</td>
    </tr>
    {{/each}}
</table>
<h2>Reservation form</h2>
<p>I would like to reserve a flight with the following options</p>
<form method="post" action="handleform">
    <p><input type="text" name="fullname" placeholder="Enter full name"> Enter full name </p>
    <p><input type="text" name="flightnumber" placeholder="Enter your flight number">Enter flight number</p>

    <p>Seating preference
        <select name="seating">
            <option name="8">First class</option>
            <option name="12">Business</option>
            <option name="16">Coach</option>
        </select>
    </p>
    <p>Add toppings...<br>
        <input type="checkbox" name="toppings" value="mushroom"> Mushroom, add $1.22 <br>
        <input type="checkbox" name="toppings" value="sausage"> Sausage, add $1.22<br>
        <input type="checkbox" name="toppings" value="pepperoni"> Pepperoni, add $1.22
    </p>


    <p><input type="radio" name="deliver" value="Pick Up" checked>In Store Pickup <br>
        <input type="radio" name="deliver" value="Delivery">Delivery
    </p>

    <p><button type="submit">Submit Form</button></p>
</form>