<h2>Sun or Fun</h2>
<p>Here is your reservation summary.</p>
<ul>
   <li>Name: {{name}}</li>
   <li>Flight number: {{flightnumber}}</li>
   <li>Class: {{class}}</li>
   <li>Meal: {{inflightmeal}}</li>
</ul>