<h3>Welcome to Sun or Fun Airlines</h3>
<p>Offering flights from Louisville, KY to Miami and Las Vegas</p>
<p>Here's a picture of our aircraft:</p>
<img src="/images/airplane.jfif"/>
<p>Click the 'Pick a Flight' link above to see our schedule</p>
