<h3>Welcome to Sun or Fun Airlines</h3>
<p>Offering flights from Louisville, KY to Miami and Las Vegas</p>
<p>Here's a picture of our aircraft:</p>
<img src="/images/airplane.jfif"/>
<table class="table">
<tr><th>Flight number</th><th>Depart</th><th>Arrive</th></tr>
{{#each pizzas}}
   <tr><td>{{size}}</td><td>{{toppings}}</td><td>{{price}}</td></tr>
{{/each}}
</table>
