<h2>Welcome to Sun or Fun Airlines</h2>
<div role="doc-subtitle">Offering flights between Louisville, Miami and Las Vegas</div>
<h3>Daily flights</h3>
<div role="doc-subtitle">All times are local</div>
<table class="table">
    <thead>
        <tr>
            <th>Flight number</th>
            <th>Depart</th>
            <th>Arrive</th>
        </tr>
    </thead>
    <tbody>
        {{#each flights}}
        <tr>
            <td>{{flight}}</td>
            <td>{{origin}}</td>
            <td>{{destination}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
