<h3>Welcome to Sun or Fun Airlines</h3>
<p>Offering flights from Louisville, KY to Miami and Las Vegas</p>
<table class="table">
<tr><th>Size</th><th>Toppings</th><th>Price</th></tr>
{{#each pizzas}}
   <tr><td>{{size}}</td><td>{{toppings}}</td><td>{{price}}</td></tr>
{{/each}}
</table>
